<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.indra_act.koreanday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name=".Splashscreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MenuGrid"
            android:parentActivityName=".Profil"
            android:theme="@style/AppTheme"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Profil" />


    <activity
        android:name=".Login"
        android:label="Login" />
    <activity
        android:name=".About"
        android:label="Info" />
    <activity
        android:name=".Profil"
        android:label="Profil" />
    <activity
        android:name=".Number"
        android:label="Nomor" />
    <activity
        android:name=".Conversation"
        android:label="Dialog Sehari-hari" />
    <activity
        android:name=".Kuis"
        android:label="Kuis" />
    <activity
        android:name=".Listening"
        android:label="Listening" />
    <activity
        android:name=".Contact"
        android:theme="@style/NoActionBar"/>
    <activity
        android:name=".Vokal"
        android:label="Huruf Vokal" />

        <activity
            android:name=".vokal.VokalDasar"
            android:label="Vokal Dasar" />

        <activity
            android:name=".vokal.VokalRangkap"
            android:label="Vokal Rangkap" />

    <activity
        android:name=".Konsonan"
        android:label="Huruf Konsonan" />

        <activity
            android:name=".konsonan.KonsonanDasar"
            android:label="Konsonan Dasar" />

        <activity
            android:name=".konsonan.KonsonanRangkap"
            android:label="Konsonan Rangkap" />
</application>
</manifest>